.second-service {
    padding: var(--section-padding);
}

.second-service>h2 {
    text-align: center;
    margin-bottom: 4%;
}

.second-service-grid {
    grid-gap: 0 !important;
}

.second-service-grid-1 {
    margin: 2%;
    padding: var(--section-padding);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all 0.3s ease;
}

.second-service-grid-1:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.second-service-grid-1-content {
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    color: var(--light-grey);
    background-color: var(--dark-primary-color);
}

.second-service-grid-1-content>h3 {
    color: var(--primary-pink);
    margin: 4% 0;
    text-transform: uppercase;
}

.third-service {
    padding: var(--section-padding);
    padding-top: 0;
}

.third-service>h2 {
    text-align: center;
}

.third-service-box {
    padding: 2%;
    margin: 2% 0;
    border-radius: var(--global-border-radius);
    background-color: rgba(204, 204, 204, 0.381);
    border: 1px solid var(--dark-primary-color);
}

.third-service-box>h3 {
    margin: 1% 0;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--heading-font);
}

@media screen and (max-width:800px) {
    .second-service-grid.grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:500px) {
    .second-service-grid.grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
}