.second-service {
    padding: var(--section-padding);
}

.second-service>h2 {
    text-align: center;
    margin-bottom: 4%;
}

.second-service-grid {
    grid-gap: 0 !important;
}

.second-service-grid-1 {
    margin: 3%;
    padding: var(--section-padding);
    transition: all 0.3s ease;
    background: vaR(--section-background);
    border-radius: var(--global-border-radius);
}

.second-service-grid-1:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.second-service-grid-1-content {
    margin-top: 5%;
    padding: 2%;
    text-align: center;
    color: var(--light-grey);
}

.second-service-grid-1-content>h3 {
    color: var(--primary-pink);
    margin: 4% 0;
    text-transform: uppercase;
}

.second-service-grid-1-content>p {
    color: rgb(24, 24, 24);
    font-size: 18px;
}

.third-service {
    padding: var(--section-padding);
    padding-top: 0;
}

.third-service>h2 {
    text-align: center;
}

.third-service-box {
    padding: 2%;
    margin: 2% 0;
    border-radius: var(--global-border-radius);
    background-color: rgba(204, 204, 204, 0.381);
    box-shadow: rgba(204, 204, 204, 0.772) 0px 0px 0px 3px;
}

.third-service-box>h3 {
    margin: 1% 0;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--heading-font);
}


/* ===========================  */


/* Fourth section satrts here  */


/* ===========================  */

.fourth-service {
    padding-top: 0;
    padding: 0 5%;
}

.fourth-service>h2 {
    margin-bottom: 5%;
    text-align: center;
}

.fourth-service-grid-1 {
    box-shadow: 1px 1px 5px 1px var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    transition: all 0.4s linear;
}

.fourth-service-grid-1:hover {
    transform: translateY(-5px);
    box-shadow: 1px 7px 5px 1px var(--light-grey);
}

.fourth-service-grid-1:hover .fourth-service-grid-1-img>img {
    transform: scale(1.2);
}

.fourth-service-grid-1-img {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: var(--dark-primary-color);
    overflow: hidden;
}

.fourth-service-grid-1-img>img {
    height: 202px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transition: all 0.4s;
}

.fourth-service-grid-1-content {
    background-color: var(--white);
    padding: 5% 8%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.fourth-service-grid-1-content>h3 {
    color: vaR(--primary-pink);
    margin: 5% 0;
    text-align: center;
}

.fourth-service-grid-1-content>p {
    color: var(--dark-primary-color);
    text-align: justify;
}


/* ===========================  */


/* Fifth section satrts here  */


/* ===========================  */

.fifth-service {
    padding: vaR(--section-padding);
    padding-top: 0;
}

.fifth-service-grid {
    padding: 5%;
    border-radius: var(--global-border-radius);
    grid-template-columns: 65% 1fr;
    grid-gap: 5%;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}

.fifth-service-grid-left {
    padding: var(--section-padding);
    padding-left: 0;
    padding-top: 0;
}

.fifth-service-grid-left>h2 {
    margin-bottom: 4%;
    color: vaR(--dark-primary-color);
}

.fifth-service-grid-left>img {
    height: 100px;
}

.fifth-service-grid-right-contact {
    padding: 4% 0;
    padding-top: 0;
    font-size: 22px;
}

.fifth-service-grid-right-contact>button {
    background-color: var(--primary-pink);
    font-size: 20px;
}

.fifth-service-grid-right-contact>button>a {
    font-family: var(--heading-font);
    padding: 15px 25px;
}

.fifth-service-grid-left-icons {
    width: max-content;
    margin: 5% 0;
}

.fifth-service-grid-left-icons>ion-icon {
    margin-right: 40px;
    color: var(--dark-primary-color);
    font-size: 35px;
}

.fifth-service-grid-right {
    border-radius: var(--global-border-radius);
    background-color: var(--dark-primary-color);
    height: 296px;
    overflow-y: scroll;
    position: relative;
}

.fifth-service-grid-right>h4 {
    padding: 5px 0;
    top: 0;
    bordeR-left: 2px solid vaR(--dark-primary-color);
    bordeR-top: 2px solid vaR(--dark-primary-color);
    border-top-left-radius: var(--global-border-radius);
    color: var(--primary-pink);
    text-align: center;
    position: sticky;
    margin-bottom: 3%;
    background-color: vaR(--white);
}

.fifth-service-grid-right>ul>li {
    padding: 5%;
    padding-bottom: 0;
}

.fifth-service-grid-right>ul>li>a {
    color: var(--light-grey);
    font-size: 20px;
}


/* scroll property */

.fifth-service-grid-right::-webkit-scrollbar {
    width: 10px;
    height: 40px;
}

.fifth-service-grid-right::-webkit-scrollbar-track {
    background: var(--dark-primary-color);
}

.fifth-service-grid-right::-webkit-scrollbar-thumb {
    background: var(--primary-pink);
    border-radius: 10px;
}

.fifth-service-grid-right::-webkit-scrollbar-thumb:hover {
    background: var(--primary-pink);
}


/* ===========================  */


/* Sixth section satrts here  */


/* ===========================  */

.sixth-service {
    padding: vaR(--section-padding);
}

.sixth-service-grid-container {
    text-align: center;
    border: 1px solid var(--dark-primary-color);
    box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .15)!important;
    background-color: var(--section-background);
    border-radius: var(--global-border-radius);
    padding: var(--section-padding);
}

.sixth-service-grid-container>h2 {
    margin-bottom: 4%;
}

.sixth-service-grid-container>h3 {
    margin-top: 4%;
    font-size: 20px;
}

.sixth-service-grid-container>h3>button {
    margin-top: 2%;
}

.sixth-service-grid {
    grid-template-columns: 14% 14% 5% 14% 5% 14% 5% 16%;
    grid-gap: 2%;
}

.sixth-service-grid-1-circle {
    width: 100%;
    height: 142px;
    border-radius: 50%;
    background-color: vaR(--dark-primary-color);
    font-size: 25px;
    padding: 2%;
    color: var(--white);
    font-weight: bold;
}

.sixth-service-grid-1-content {
    text-align: center;
    font-size: 20px;
}

.sixth-service-grid-1-square {
    background-color: var(--white);
    border: 3px solid vaR(--light-grey);
    padding: 2%;
    font-style: 18px;
    border-radius: 8px;
}

.sixth-service-grid-1-icon>ion-icon {
    font-size: 40px;
    color: vaR(--dark-primary-color);
}


/* ===========================  */


/* Seventh section satrts here  */


/* ===========================  */

.seventh-service {
    background-color: rgba(204, 204, 204, 0.381);
    padding: var(--section-padding);
}

.seventh-service>h2 {
    text-align: center;
    margin-bottom: 4%;
}

.seventh-section-grid-1 {
    border: 1px solid var(--black);
    background-color: var(--white);
    padding: var(--section-padding);
    border: 1px solid #ecedee80;
    border-radius: 4px;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}

.seventh-section-grid-1-img-1 {
    padding: 5%;
    padding-left: 0;
}

.seventh-section-grid-1-img-1>ion-icon {
    color: rgb(0, 0, 105);
    font-size: 35px;
    font-weight: 700;
}

.seventh-section-grid-1-content {
    margin: 8% 0;
    margin-top: 5%;
}

.seventh-section-grid-1-content>p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.seventh-section-grid-1-img-2 {
    grid-template-columns: 20% 1fr;
    gap: 5%;
}

.seventh-section-grid-1-img-2-img>img {
    height: 55px;
}

.seventh-section-grid-1-img-2-content>h3 {
    font-size: 22px;
    font-weight: 500;
}


/* ===========================  */


/* Eight section satrts here  */


/* ===========================  */

.eight-service {
    padding: var(--section-padding);
}

.eight-service>h2 {
    margin-bottom: 5%;
    text-align: center;
}

.eight-service-parent-grid-left {
    border-radius: var(--global-border-radius);
    border: 1px solid var(--dark-grey);
}

.eight-service-parent-grid-left-img>img {
    width: 100%;
    border-radius: var(--global-border-radius);
}

.eight-service-parent-grid-right-img>img {
    height: 175px;
    width: 100%;
    border-radius: var(--global-border-radius);
}

.eight-service-parent-grid-left-content {
    padding: 5%;
}

.eight-service-parent-grid-left-content>h3 {
    margin: 0;
    margin-bottom: 2%;
}

.eight-service-parent-grid-left-content>p {
    margin: 5% 0;
}

.eight-service-parent-grid-left-content>p:last-child {
    margin-bottom: 5%;
    font-size: 18px;
}

.eight-service-parent-grid-right {
    grid-template-rows: repeat(1, 1fr);
}

.eight-service-parent-grid-right-top-1 {
    border: 1px solid var(--black);
    height: max-content;
    border-radius: var(--global-border-radius);
}


/* ===========================  */


/*Media Queries satrts here  */


/* ===========================  */

@media screen and (max-width:800px) {
    .second-service-grid.grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .fourth-service-grid.grid-3 {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }
    .fifth-service-grid.grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .fourth-service-grid-1 {
        margin: 2%;
    }
    .sixth-service-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .sixth-service-grid-1-circle {
        width: 60%;
    }
}

@media screen and (max-width:500px) {
    .second-service-grid.grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .fourth-service-grid.grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .fifth-service-grid.grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .sixth-service-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .sixth-service-grid-1-circle {
        width: 60%;
    }
    .seventh-section-grid.grid-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .eight-service-parent-grid.grid-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .eight-service-parent-grid-right-top.grid-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }
    .seventh-section-grid-1 {
        margin-bottom: 5%;
    }
    .eight-service-parent-grid-right-top-1 {
        margin-bottom: 5%;
    }
    .eight-service-parent-grid-left {
        margin-bottom: 5%;
    }
    .third-service-box {
        margin-bottom: 5%;
    }
}